## comparison operators
+   eq  ->  ==
+   ne  ->  !=
+   le  ->  <=
+   lt  ->  <
+   ge  ->  >=
+   gt  ->  >

+    بررسی یک شرط خاص یا فیلتر کردن در یم ستون یا سطر خاص

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(
    {
    'product':['coca','pepsi','redbull'],
    'cost': [250, 150, 100],
    'revenue': [100, 250, 300]
    },
    index=['A', 'B', 'C']
)
df

   product  cost  revenue
A     coca   250      100
B    pepsi   150      250
C  redbull   100      300

## eq 
+   بقیه نیز ماشبه همین

In [6]:
df.eq(100)

   product   cost  revenue
A    False  False     True
B    False  False    False
C    False   True    False

#### تطبیق بین ردیف ها

In [17]:
df.eq(pd.Series([100,250,300],index=['A','B','C']),axis='index')

   product   cost  revenue
A    False  False     True
B    False  False     True
C    False  False     True

In [22]:
df.eq([250, 250, 100], axis='index')

   product   cost  revenue
A    False   True    False
B    False  False     True
C    False   True    False

#### تطبیق بین ستون ها

In [19]:
df.eq(pd.Series([100,250,300],index=['product','cost','revenue']),axis='columns')

   product   cost  revenue
A    False   True    False
B    False  False    False
C    False  False     True

In [20]:
df.eq([100,250,300],axis='columns')

   product   cost  revenue
A    False   True    False
B    False  False    False
C    False  False     True

## تطبیق دو دیتا فریم

In [33]:
base =  pd.DataFrame(
    {
    'product':['coca','pepsi','redbull'],
    'cost': [250, 150, 100],
    'revenue': [100, 250, 300],
    'price' : [3800,2560,4500]
    },
    index=['A', 'B', 'C']
)

# check Cost
for_check_1 = pd.DataFrame(
    {
    'cost': [100, 150, 350],
    },
    index=['A', 'B', 'C']
)

# check Price
for_check_2 = pd.DataFrame(
    {
    'price': [3800, 150, 4500],
    },
    index=['A', 'B', 'C']
)

In [34]:
base.eq(for_check_1,axis=0)

    cost  price  product  revenue
A  False  False    False    False
B   True  False    False    False
C  False  False    False    False

In [35]:
base.eq(for_check_2,axis=0)

    cost  price  product  revenue
A  False   True    False    False
B  False  False    False    False
C  False   True    False    False

In [37]:
base[base.eq(for_check_2,axis=0)]

  product  cost  revenue   price
A     NaN   NaN      NaN  3800.0
B     NaN   NaN      NaN     NaN
C     NaN   NaN      NaN  4500.0