In [2]:
import pandas as pd

## The zip() function:
برای پیشروی همگام در هر سطر برای چند دیتافریم

In [4]:
data1 = {
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04']),
    'Open': [100.50, 101.25, 102.00, 100.75],
    'High': [102.00, 103.50, 102.75, 101.50],
    'Low': [99.00, 100.00, 101.25, 99.50],
    'Close': [101.75, 102.25, 101.50, 100.25],
    'Volume': [10000, 12000, 8000, 9000]
}
data2 = {
    'Date': pd.to_datetime(['2023-02-15', '2023-03-10']),
    'Action': ['Buy', 'Sell'],
    'Price': [105.00, 110.25],
    'Quantity': [100, 80],
    'Amount': [10500, 8820]
}

data3 = {
    'Product Name': ['Shirt', 'Jeans', 'Hat'],
    'Category': ['Clothing', 'Clothing', 'Accessories']}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
for i in [df1,df2,df3]:
    print(i)
    print('~'*25)

        Date    Open    High     Low   Close  Volume
0 2023-01-01  100.50  102.00   99.00  101.75   10000
1 2023-01-02  101.25  103.50  100.00  102.25   12000
2 2023-01-03  102.00  102.75  101.25  101.50    8000
3 2023-01-04  100.75  101.50   99.50  100.25    9000
~~~~~~~~~~~~~~~~~~~~~~~~~
        Date Action   Price  Quantity  Amount
0 2023-02-15    Buy  105.00       100   10500
1 2023-03-10   Sell  110.25        80    8820
~~~~~~~~~~~~~~~~~~~~~~~~~
  Product Name     Category
0        Shirt     Clothing
1        Jeans     Clothing
2          Hat  Accessories
~~~~~~~~~~~~~~~~~~~~~~~~~

In [10]:
for i in zip(df1,df2,df3):
    print(i)

('Date', 'Date', 'Product Name')
('Open', 'Action', 'Category')

####  به اندازه طول کوتاهترین دیتا فریم جلو می رود

In [14]:
for a,b,c in zip(df1.Open , df2.Price,df3):
    print(a)
    print(b)
    print(c)

100.5
105.0
Product Name
101.25
110.25
Category