In [1]:
import pandas as pd

In [2]:
pd.date_range(start='1/1/2018', end='1/08/2018')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

## With TimeZone

In [3]:
pd.date_range(
    start=pd.to_datetime("1/1/2018").tz_localize("Europe/Berlin"),
    end=pd.to_datetime("1/08/2018").tz_localize("Europe/Berlin"),
)

DatetimeIndex(['2018-01-01 00:00:00+01:00', '2018-01-02 00:00:00+01:00',
               '2018-01-03 00:00:00+01:00', '2018-01-04 00:00:00+01:00',
               '2018-01-05 00:00:00+01:00', '2018-01-06 00:00:00+01:00',
               '2018-01-07 00:00:00+01:00', '2018-01-08 00:00:00+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='D')

In [6]:
pd.date_range(start='1/1/2018', periods=8)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

## Frequency
+   'ME' (month end frequency)

In [7]:
pd.date_range(start='1/1/2018', periods=5, freq='ME')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31'],
              dtype='datetime64[ns]', freq='ME')

In [8]:
pd.date_range(start='1/1/2018', periods=5, freq='3ME')

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31'],
              dtype='datetime64[ns]', freq='3ME')

## Nanosecond

In [11]:
pd.Series(pd.date_range('2012-12-12 12:12', periods = 20, freq = '5ns'))

0    2012-12-12 12:12:00.000000000
1    2012-12-12 12:12:00.000000005
2    2012-12-12 12:12:00.000000010
3    2012-12-12 12:12:00.000000015
4    2012-12-12 12:12:00.000000020
5    2012-12-12 12:12:00.000000025
6    2012-12-12 12:12:00.000000030
7    2012-12-12 12:12:00.000000035
8    2012-12-12 12:12:00.000000040
9    2012-12-12 12:12:00.000000045
10   2012-12-12 12:12:00.000000050
11   2012-12-12 12:12:00.000000055
12   2012-12-12 12:12:00.000000060
13   2012-12-12 12:12:00.000000065
14   2012-12-12 12:12:00.000000070
15   2012-12-12 12:12:00.000000075
16   2012-12-12 12:12:00.000000080
17   2012-12-12 12:12:00.000000085
18   2012-12-12 12:12:00.000000090
19   2012-12-12 12:12:00.000000095
dtype: datetime64[ns]